<!DOCTYPE html>
    <html lang="pt-br">

    <%- include('partials/public-site/head') %>

    <body>
        <%- include('partials/public-site/header') %>
        <%- include('partials/public-site/banner', { 
            srctitle: '/images/public-site/service-banner1.png',
            h2title: 'ESTAMOS AQUI PRA SEMPRE <br> AJUDAR VOCÊ!',
            h3title: 'Agora você pode recarregar, <br>Estamos aqui para tirar todas as suas dúvidas, <br>sobre recarga, consulta e criação da carteirinha. <br> Se não achou oque procura nos artigos, consulte <br>abaixo nossas outras formas de ajudar você.', 
            atitle: 'INICIAR ATENDIMENTO',
        }) %>
        <%- include('partials/public-site/banner-3txt-foto', {
            h1title: 'ATENDIMENTO NA HORA É AQUI!',
            h2title: '',
            h3title: '',
            h4title: 'Estamos disponíveis no WhatsApp todos os dias durante 24h por dia para autoatendimento. Para outros atendimentos, de segunda a sexta, das 8h às 20h e sábados das 8h às 14h. Basta adicionar o número (12) 3333-2222 em sua agenda ou clicar no botão abaixo para iniciar uma conversa.',
            atitle: 'INICIAR ATENDIMENTO',
            srctitle: '/images/public-site/service-banner2.png',
            srctitle2: '/images/public-site/service-banner3.png',})
        %>
       
        <section>
        <div class="w-auto h-auto  pt-5 bg-secondary" >
            <div class="container">
                <div class="row pt-5">
                    <div class="col-12 col-lg-5">
                        <h2 class="text-primary fs-2 fw-bold mb-5">
                            Fale Conosco
                        </h2>
                        <h3 class="text-primary fs-4 fw-bold mb-2">
                            Central de Atendimento (12) 3333-2222:
                        </h3>
                        <h3 class="text-dark fs-5 fw-medium mb-2">
                            Ligações de Celular e Telefone Fixo.
                        </h3>
                        <h3 class="text-dark fs-5 fw-bold mb-2">
                            Horário de atendimento:
                        </h3>
                        <h3 class="text-dark fs-5 fw-medium mb-5">
                            Todos os dias, das 8h às 24h exceto feriados. Via e-mail você deve usar
                            atendimento@STUPSEMPRE.com.br
                        </h3>
                        <!-- segundo -->
                        <h3 class="text-primary fs-4 fw-bold mb-2">
                            Discagem Direta Gratuita (DDG) 0800 99 88 900:
                        </h3>
                        <h3 class="text-dark fs-5 fw-medium mb-2">
                            Chamadas de telefone fixo para
                            atendimento gratuito sobre
                            nosso transporte.
                        </h3>
                        <h3 class="text-primary fs-5 fw-bold mb-2">
                            Horário de atendimento:
                        </h3>
                        <h3 class="text-dark fs-5 fw-medium mb-5">
                            Todos os dias, das 8h às 24h exceto feriados.
                        </h3>
                        <!-- terceiro -->
                        <h3 class="text-primary fs-4 fw-bold mb-2">
                            Ligações para PCDs
                            0800 654 1235:
                        </h3>
                        <h3 class="text-dark fs-5 fw-medium mb-5">
                            Atendemos Segunda a Sexta, das 8h às 20h
                            e ao sábados das 8h às 14h exceto feriados.
                        </h3>
                        <h3 class="text-primary fs-4 fw-bold mb-2">
                            Ligações Internacionais
                            +55 (12) 3322-2233:
                        </h3>
                        <h3 class="text-dark fs-5 fw-medium">
                            Atendemos Segunda a Sexta, das 8h às 20h
                            e ao sábados das 8h às 14h exceto feriados.
                        </h3>
                    </div>
                    <div class="col-0 col-lg-1">


                    </div>
                    <div
                        class="col-12 col-lg-6 d-flex justify-content-center align-items-center justify-content-lg-end align-items-lg-end h-auto mt-5 mt-lg-0 mb-5">
                        <img class="img-fluid px-0 " src="/images/public-site/service-banner7.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/public-site/achar-unidade') %>
    <%- include('partials/public-site/footer') %>
    <script src="/js/public-site/imports.js"></script>
    </body>

    </html>