<section>
    <div class="container-fluid px-0 w-100 position-relative">
        <img src="<%- srctitle %>" class="img-fluid px-0 w-100" alt="Imagem" />
        <div class="d-none d-md-block container position-absolute top-50 start-50 translate-middle">
            <h2 class="fs-1 fw-bold <%= activePage === 'card' ? 'text-primary' : 'text-secondary' %>">
                <%- h2title %>
            </h2>
            <h3 class="fs-4 fw-light mb-4 <%= activePage === 'card' ? 'text-primary' : 'text-secondary' %>">
                <%- h3title %>
            </h3>
            <button class="btn <%= activePage === 'card' ? 'bg-primary' : 'btn-secondary' %> px-5 mt-1">
                <a href="/carteirinha-linhas#atendimento-presencial" class="text-decoration-none fw-bold <%= activePage === 'card' ? 'text-secondary fw-bold' : '' %>">
                    <%- atitle %>
                </a>
            </button>
        </div>
    </div>
</section>

