<footer class="text-center text-lg-start text-secondary" style="background-color: #212121">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold">
              Somos a STUP
            </h5>
            <p class="fw-light mb-5 mb-md-4">
              Nossa empresa de ônibus é ágil, prática e rápida, proporcionando viagens eficientes e sem complicações.
            </p>
            <h5 class="text-uppercase mb-4 fw-bold">Baixe o app</h5>
            <img class="mb-5 mb-md-4" src="/images/public-site/apple.png" alt="Baixe">
            <br>
            <img class="mb-5 mb-md-0" src="/images/public-site/google.png" alt="Baixe">
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-5 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold">Informações</h5>
            <p>
              <a href="/" class="text-secondary fw-light text-decoration-none <%= activePage === 'index' ? ' text-decoration-underline' : '' %>">Para você</a>
            </p>
            <p>
              <a href="/card" class="text-secondary fw-light text-decoration-none <%= activePage === 'card' ? ' text-decoration-underline' : '' %>">Carteirinha</a>
            </p>
            <p>
              <a href="/consult" class="text-secondary fw-light text-decoration-none <%= activePage === 'consult' ? ' text-decoration-underline' : '' %>">Consulte Saldo</a>
            </p>
            <p>
                <a href="/routes" class="text-secondary fw-light text-decoration-none <%= activePage === 'routes' ? ' text-decoration-underline' : '' %>">Linhas</a>
              </p>
            <p>
              <a href="/consult" class="text-secondary fw-light text-decoration-none <%= activePage === 'consult' ? ' text-decoration-underline' : '' %>">Recarga</a>
            </p>
            
            <p>
              <a href="/app" class="text-secondary fw-light text-decoration-none <%= activePage === 'app' ? ' text-decoration-underline' : '' %>">Aplicativo</a>
            </p>
            <p>
              <a href="/service" class=" text-secondary text-decoration-none <%= activePage === 'service' ? ' text-decoration-underline' : '' %>">Atendimento</a>
            </p>
            <p>
              <a href="/business" class="text-secondary fw-light text-decoration-none <%= activePage === 'business' ? ' text-decoration-underline' : '' %>">Para Empresas</a>
            </p>
            <p>
              <a href="/about" class="text-secondary fw-light text-decoration-none <%= activePage === 'about' ? ' text-decoration-underline' : '' %>">Sobre nós</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold">
              Ajuda
            </h5>
            <p>
              <a href="/help" class="text-secondary fw-light text-decoration-none <%= activePage === 'help' ? ' text-decoration-underline' : '' %>">Central de ajuda</a>
            </p>
            <p>
              <a href="#" class="text-secondary fw-light text-decoration-none">Ligue pra gente</a>
            </p>
            <p>
              <a href="https://api.whatsapp.com/send?phone=+5512997215547&text=Ol%C3%A1%2C%20gostaria%20de%20tirar%20uma%20d%C3%BAvida."
                target="_blank" class="text-secondary fw-light text-decoration-none">
                Atendimento pelo Whatsapp
              </a>
            </p>
            <p>
              <a href="#" class="text-secondary fw-light text-decoration-none">Ligações para PCDs</a>
            </p>
            <hr class="w-100 clearfix d-md-none" />
            <br>
            <h5 class="text-uppercase mb-4 fw-bold">
              Sobre nós  <br> - Desenvolvedor
            </h5>
            <p>
              <a href="#" class="text-secondary fw-light">João Gabriel</a>
            </p>
          </div>


          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2025 Copyright:
              <h2 class="text-secondary"> STUP</h2>
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" class="text-secondary" role="button"><i
                class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" class="text-secondary" role="button"><i
                class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" class="text-secondary" role="button">
              <i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" class="text-secondary" role="button"><i
                class="fab fa-instagram"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <script src="https://kit.fontawesome.com/66b39b2469.js" crossorigin="anonymous"></script>
  
