<header class="bg-dark">
    <div class="container">
        <div class="row navbar py-2 d-flex justify-content-between">
            <div class="col-3 col-sm-2 col-md-2 col-lg-1">
                <a href="/index"><img class="rounded-0 img-fluid" src="/images/public-site/icon-stup-white.svg"
                        alt="logo" /></a>
            </div>
            <div
                class="col col-md-5 col-lg-4 col-xl-3 ms-auto d-flex justify-content-between justify-content-end gap-2">
                <button type="button" 
                class="w-100 btn rounded-0 border text-secondary btn-outline-secondary <%= activePage === 'help' ? ' text-decoration-none bg-primary' : '' %>"> 
                    <a class="text-secondary text-decoration-none"
                    href="/help">Ajuda</a>
                </button>
                <button type="button" class="w-100 btn rounded-0 border text-secondary btn-outline-secondary">
                    <a class="text-secondary text-decoration-none" href="/consult">Recarregar</a>
                </button>
                <button type="button" class="w-100 btn rounded-0 btn-primary fw-bold">
                    <a class="text-secondary text-decoration-none " id="nomeHeader" href="/login">Entrar</a>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid border-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg bg-dark">
                    <div class="px-0 w-100">
                        <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav w-100 justify-content-between">
                                <li class="nav-item justify-content-center align-items-center">
                                    <a class="nav-link text-secondary rounded-1 <%= activePage === 'index' ? 'bg-primary' : '' %>"
                                        aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary rounded-1 <%= activePage === 'card' ? 'bg-primary p-2' : '' %>"
                                        href="/card">Carteirinha</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary rounded-1 <%= activePage === 'consult' ? 'bg-primary p-2' : '' %>"
                                     href="/consult">Consulte Saldo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary rounded-1 <%= activePage === 'routes' ? 'bg-primary p-2' : '' %>"
                                    href="/routes">Linhas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary rounded-1 <%= activePage === 'consult' ? 'bg-primary p-2' : '' %>"
                                    href="/consult">Recarga</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary rounded-1 <%= activePage === 'app' ? 'bg-primary p-2' : '' %>"
                                    href="/app">Aplicativo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary rounded-1 <%= activePage === 'service' ? 'bg-primary p-2' : '' %>"
                                    href="/service">Atendimento</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary rounded-1 <%= activePage === 'business' ? 'bg-primary p-2' : '' %>"
                                    href="/business">Para Empresas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary rounded-1 <%= activePage === 'about' ? 'bg-primary p-2' : '' %>"
                                    href="/about">Sobre nós</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
